Hello, <%= name %>
<p>
<h4>Are you available this Friday for coffee?</h4>
<br>
<a href="morning/<%- email %>">Morning</a>
<br>
<a href="afternoon/<%- email %>">Afternoon</a>
<br>
<a href="both/<%- email %>">Both!</a>
<br>
<a href="morning/<%- email %>">Neither :-(</a>
<br>
